@import url("https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Open+Sans&family=Poppins:wght@400;600;700&family=Roboto:wght@500&display=swap");

/* Hero */
.hero {
  width: 100%;
  background: #37517e;
  display: flex;
  align-items: center;
  height: 760px;
  justify-content: center;
}

.containerHero1 {
  min-width: 200px;
  max-width: 600px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.containerHero2 {
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.containerHero1 p {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  opacity: 0.6;
  line-height: 28.8px; /* 120% */
}
h1 {
  font-size: 48px;
  color: #fff;
}

.buttonHero1 {
  padding: 9px 28.359px 12px 28px;
  align-items: flex-start;
  border-radius: 50px;
  background: #47b2e4;
  border: none;
  margin-right: 25px;
}
.buttonHero1 a {
  color: white;
  text-decoration: none;
}
.buttonHero2 {
  padding: 9px 28.359px 12px 28px;
  align-items: flex-start;
  border-radius: 50px;
  background: transparent;
  border: none;
}
.buttonHero2 a {
  color: white;
  text-decoration: none;
}
.buttonHero2:hover {
  background-color: #47b2e4;
  transition: 0.5s;
}
/* endHero */

/* contact */
.contact {
  background-color: #f3f5fa;
  display: flex;
  justify-content: center;
  height: 250px;
}
.contactBody {
  width: 700px;
}
.contact h2 {
  font-family: Jost, Arial, Helvetica, sans-serif;
  margin-bottom: -10px;
  color: #37517e;
  display: block;
  padding-top: 25px;
  text-align: center;
}
.contact p {
  text-align: center;
  color: #444;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  padding-top: 10px;
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  width: 100%;
  max-width: 750px;
  height: 40px;
}
.newsletterInput {
  min-width: 85%;
  height: 30px;
  border: 0;
  text-align: center;
  border-radius: 50px;
  background-color: transparent;
  outline: none;
  position: relative;
}

.btnNewsletter {
  min-width: 15%;
  flex-shrink: 0;
  height: 100%;
  background-color: #47b2e4;
  padding: 0 5px;
  border: 0;
  border-radius: 50px;
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
  outline: none;
}
/* endContact */

.contentFooter {
  margin: 0 auto;
  width: 90%;
}

.footerBawah {
  background-color: #37517e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

@media (min-width: 601px) and (max-width: 1200px) {
  .containerHero2 img {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .containerHero2 img {
    display: flex;
    width: 70%;
    opacity: 0;
  }
}
