.container {
  flex-shrink: 0;
  /* background-color: red; */
  width: 60%;
}
.heroContent1 {
  text-align: center;
  /* background-color: red; */
}
.heroContainer {
  display: flex;
  height: auto;
  padding-top: 48px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.heroContent2 {
  text-align: start;
  width: 70%;
  height: auto;
  /* background-color: green; */
}

.form-select {
  width: 25%;
}
@media (min-width: 600px) {
  table {
    width: 20%;
  }
}
