.navbar {
  background: linear-gradient(90deg, #269945 0%, #cad72e 100%);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}
.navbar-nav {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.nav-item {
  padding: 0 5px 0 5px;
  color: white;
}

.main {
  background: url("img/Rectangle\ 1.png");
  background-repeat: no-repeat;
  padding-bottom: 25px;
  background-size: cover;
}

.main {
  padding-top: 50px;
}
.main .container {
  display: flex;
  justify-content: space-between; /* Menempatkan item dengan jarak yang sama */
}

.mainMentoring {
  background: url("img/Rectangle2.png");
  background-repeat: no-repeat;
  padding-bottom: 25px;
  background-size: cover;
}

.mainMentoring {
  padding-top: 50px;
}
.mainMentoring .container {
  display: flex;
  justify-content: space-between; /* Menempatkan item dengan jarak yang sama */
}
.btnDaftar {
  background: #0e9048;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 12px 46px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.btnDaftar:hover {
  background-color: white;
  color: #269945;
}

.btnLogin {
  border-radius: 5px;
  background: var(--primary, #fff);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 12px 46px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #0e9048;
}
.btnLogin:hover {
  background-color: #0e9048;
  color: white;
}

.grid-item {
  padding: 20px;
  flex: 1; /* Memberikan proporsi yang sama untuk setiap item */
}

.judulKiri {
  color: var(--primary, #fff);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.deskripsi {
  color: var(--primary, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.boxItem {
  display: flex;
  width: 377px;
  height: 464.967px;
  padding: 62px 53px 87.967px 54px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--no-select, #ddd);
  background: var(--primary, #fff);
}
.boxItem:hover {
  border: 1px solid var(--no-select, #269945);
  transition: 0.5s;
}

.kolomBenefit {
  display: flex;
  justify-content: center;
}
.judulBenefit {
  color: var(--text, #151948);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.deskripsiBenefit {
  color: var(--text-desc, #5e62a2);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.judulMelangkah {
  color: var(--text, #151948);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.deskripsiMelangkah {
  color: var(--text-desc, #5e62a2);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.layanan {
  margin-top: 80px;
  background: var(--background, #f9f9f9);
}

.kolomUnggulan {
  display: flex;
  justify-content: center;
}
.boxUnggulan {
  width: 550px;
  height: 175px;
  flex-shrink: 0;
  background: #fb1717;
}
.layanan img {
  @media (max-width: 1080px) {
    width: 100%;
    height: auto;
  }
}

.kotakUser2 {
  display: inline-block;
  justify-content: center;
}

.card {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px #2e9c44;
}
.cardPath {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 1px 5px 0px #8f8f8f;
}
.kotakUser {
  display: flex;
  justify-content: center;
}
svg {
  @media (max-width: 1080px) {
    width: 100%;
  }
}

.style {
  display: flex;
  justify-content: center;
}
.form_control1 {
  border-radius: 5px;
  border: 1px solid #ced4da;
  background: #fff;
}

.footer {
  padding-top: 50px;
  background-color: #0e9048;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

.learningPath {
  display: flex;
  justify-content: center;
}

.kotakPath {
  border-radius: 20px;
  width: 85%;
  height: 50px;
  background-color: #151948;
  stroke-width: 1px;
  stroke: #cbcbcb;
  position: relative;
}
.kotakPathKecil {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 20px;
}
