.container {
  flex-shrink: 0;
  /* background-color: red; */
  width: 60%;
}
.heroContent1 {
  text-align: center;
  /* background-color: red; */
}
.heroContainer {
  display: flex;
  height: auto;
  padding-top: 48px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.heroContent2 {
  text-align: start;
  width: 70%;
  height: auto;
  /* background-color: green; */
}

.form-select {
  width: 25%;
}
.form-control[type="file"]::file-selector-button {
  color: white;
  background-color: #0d6efd !important;
}

.aDescription {
  width: 100%;
}
.error-border {
  border: 1px solid red;
}
